.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .title {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}
.App-header a {
  color: #09d3ac;
}
.App-header p {
  max-width: 702px;
  padding: 25px 0 27px;
}
dark-mode {
  position: fixed;
  left: 10px;
  top: 10px;
}
